/* #region Debug */
/* * {
    border: 1px dashed black;
} */

/* #region Grid */
.debug .container {
    background-color: yellow;
    padding: 1rem;
}

.debug .container_md {
    background-color: orangered;
    padding: 1rem;
}

.debug .row {
    background-color: brown;
    padding: 1rem;
}

.debug [class^="col_"] {
    background-color: aqua;
    padding: 1rem;
}

/* #endregion Grid */
/* #region style */
/* #region site_header */
/* .debug #site_header {
    padding: 1rem;
} */

/* #endregion site_header */
/* #region site_main */
/* #region banner */
.debug .banner {
    padding: 1rem;
}

/* #endregion banner */
/* #region planning */
.debug #planning {
    padding: 1rem;
}

/* #endregion planning */
/* #region testimonials */
.debug .testimonials {
    padding: 1rem;
}

/* #endregion testimonials */
/* #region features */
.debug #features {
    padding: 1rem;
}

/* #endregion features */
/* #region about_us */
.debug #about_us {
    padding: 1rem;
}

/* #endregion about_us */
/* #region get_started */
.debug #get_started {
    padding: 1rem;
}

/* #endregion get_started */
/* #endregion site_main */
/* #region site_footer */
.debug #site_footer {
    padding: 1rem;
}

/* #endregion site_footer */
/* #endregion style */
/* #endregion Debug */