/* #endregion media query */
/* #region Media-Query-768px */
@media screen and (min-width: 768px) {
    .container {
        width: 90%;
    }

    .get_started .container,
    #site_footer .container {
        width: 60%;
    }

    /* #region site_header */
    /* #endregion site_header */
    /* #region site_main */
    /* #region banner */
    .banner img {
        max-width: 50%;
    }

    /* #endregion banner */
    /* #region planning */
    #planning .container {
        padding-top: 8rem;
    }

    #planning h2 {
        font-size: 4rem;
    }

    #planning h3 {
        font-size: 1.5rem;
    }

    /* #endregion planning */
    /* #region testimonials */
    #testimonials .foto {
        padding: 0;
    }

    #testimonials .card {
        padding-bottom: 3rem;
    }

    #testimonials .testo {
        padding-top: 1rem;
        padding-left: 2rem;
        text-align: left;
    }

    /* #endregion testimonials */
    /* #region features */
    /* #endregion features */
    /* #region about_us */
    #about_us .testo {
        padding-left: 2rem;
        padding-right: 1rem;
    }

    #about_us .foto {
        padding-right: 2rem;
        padding-left: 1rem;
    }

    #about_us .circletag {
        max-width: 100%;
    }

    /* #endregion about_us */
    /* #region get_started */
    /* #endregion get_started */
    .get_started h3 {
        font-size: 2rem;
    }

    .get_started h4 {
        font-size: 4rem;
    }

    /* #endregion site_main */
    /* #region site_footer */
    /* #endregion site_footer */
}

/* #endregion Media-Query-768px*/

/* #region Media-Query-1200px */
@media screen and (min-width: 1200px) {

    /* #region site_header */
    #site_header .menu .list_inline {
        /* Override locale di una classe in utility */
        gap: 2rem;
        display: flex;
    }

    #site_header .menu .btn {
        /* Override locale di una classe in utility */
        display: block;
    }

    #site_header .menu .fa-bars {
        color: white;
        font-size: 2rem;
        display: none;
    }

    /* #endregion site_header */
    /* #region site_main */
    /* #region banner */
    .banner img {
        max-width: 100%;
    }

    /* #endregion banner */
    /* #region planning */
    #planning .container {
        padding: 8rem 8rem 3rem 8rem;
    }

    #planning .row {
        margin: 0 -2rem;
    }

    #planning .col_12 {
        padding: 0 2rem;
    }

    #planning h2 {
        font-size: 2rem;
        margin-top: 8rem;
    }

    #planning .col_12:nth-child(2) {
        align-self: flex-end;
    }

    #planning .development img {
        max-width: 70%;
    }

    /* #endregion planning */
    /* #region testimonials */
    #testimonials .testo {
        font-size: 0.9rem;
        padding-top: 3rem;
        padding-left: 2rem;
        text-align: left;
    }

    /* #endregion testimonials */
    /* #region features */
    /* #endregion features */
    /* #region about_us */
    /* #endregion about_us */
    /* #region get_started */
    .get_started .container {
        width: 40%;
    }

    /* #endregion get_started */
    /* #endregion site_main */
    /* #region site_footer */
    #site_footer .container {
        width: 30%;
    }

    /* #endregion site_footer */
}

/* #endregion Media-Query-1200px*/
/* #endregion media query */