/* #region style */
/* #region site_header */
#site_header {
    background-color: var(--rl_secondary);
}

/* #endregion site_header */
/* #region site_main */
/* #region banner */
.banner {
    background-color: var(--rl_white);
}

/* #endregion banner */
/* #region planning */
.planning {
    background-color: var(--rl_primary);
}

/* #endregion planning */
/* #region testimonials */
.testimonials {
    background-color: var(--rl_white);
}

/* #endregion testimonials */
/* #region benefits */
.benefits {
    background-color: var(--rl_primary);
}

/* #endregion benefits */
/* #region about_us */
.about_us {
    background-color: var(--rl_white);
}

/* #endregion about_us */
/* #region get_started */
.get_started {
    background-color: var(--rl_primary);
}

/* #endregion get_started */
/* #endregion site_main */
/* #region site_footer */
#site_footer {
    background-color: var(--rl_dark);
}

/* #endregion site_footer */
/* #endregion style */